{%- from '@LiberoPatterns/attributes.html.twig' import attributes -%}

{%- set attributes = attributes|default({})|merge({class: attributes.class|default([])|merge(['content-meta']) }) -%}

<ul {{- attributes(attributes|default({})) }}>
  {%- for item in items -%}

    {%- with item only -%}
      {%- block item -%}

        {%- from '@LiberoPatterns/attributes.html.twig' import attributes -%}

        {%- set attributes = attributes|default({})|merge({class: attributes.class|default([])|merge(['content-meta__item']) }) -%}

        <li {{- attributes(attributes|default({})) }}>
          {%- with content only -%}
            {%- block content -%}

              {%- if attributes.href is defined -%}
                {%- set attributes = attributes|default({})|merge({class: attributes.class|default([])|merge(['content-meta__link']) }) -%}
              {%- endif -%}

              {%- include '@LiberoPatterns/link.html.twig' -%}

            {%- endblock content -%}
          {%- endwith -%}

        </li>

      {%- endblock item -%}
    {%- endwith -%}

  {%- endfor -%}

</ul>
