{%- set attributes = attributes|default({})|merge({class: attributes.class|default([])|merge(['content-grid']) }) -%}

{%- set hasSecondary = false -%}
{%- for area in content if area.area|default('full') == 'secondary' -%}
  {%- set hasSecondary = true -%}
{%- endfor -%}

{%- if hasSecondary -%}
  {%- set attributes = attributes|merge({class: attributes.class|merge(['content-grid--has-secondary']) }) -%}
{%- endif -%}

<{{ element|default('div') }} {%- include '@LiberoPatterns/attributes.html.twig' %}>

  {%- for area in content -%}
    {%- with area only -%}

      {%- block item -%}

        {%- set attributes = attributes|default({})|merge({class: attributes.class|default([])|merge(['content-grid__item']) }) -%}

        {%- if area is defined -%}

          {%- set attributes = attributes|merge({class: attributes.class|merge(['content-grid__item--' ~ area]) }) -%}

          <div {%- include '@LiberoPatterns/attributes.html.twig' %}>
            {%- include '@LiberoPatterns/text.html.twig' with {nodes: content} -%}
          </div>

        {%- else -%}

          {%- with arguments|merge({_template: template}) only -%}

            {%- set attributes = attributes|default({})|merge({class: attributes.class|default([])|merge(['content-grid__item'])}) -%}

            {%- include _template -%}

          {%- endwith -%}

        {%- endif -%}

      {%- endblock item -%}

    {%- endwith -%}
  {%- endfor -%}

</{{ element|default('div') }}>
