{%- import '@LiberoPatterns/html.html.twig' as html -%}

{%- set attributes = attributes|default({})|merge({class: attributes.class|default([])|merge(['content-header']) }) -%}

<header {{- html.attributes(attributes) }}>

  {%- block body -%}

    {%- with categories|default({}) only -%}
      {%- block categories -%}

        {%- if items|default([])|length -%}
          {%- include '@LiberoPatterns/tag-list.html.twig' with {list: _context|merge({singleLine: true})} only -%}
        {%- endif -%}

      {%- endblock categories -%}
    {%- endwith -%}

    {%- with contentTitle only -%}

      {%- block title -%}

        {% set length = include('@LiberoPatterns/heading.html.twig')|striptags|trim|length %}

        {% if length < 20 %}
          {% set lengthClass = 'xx-short' %}
        {% elseif length < 36 %}
          {% set lengthClass = 'x-short' %}
        {% elseif length < 46 %}
          {% set lengthClass = 'short' %}
        {% elseif length < 57 %}
          {% set lengthClass = 'medium' %}
        {% elseif length < 80 %}
          {% set lengthClass = 'long' %}
        {% elseif length < 120 %}
          {% set lengthClass = 'x-long' %}
        {% else %}
          {% set lengthClass = 'xx-long' %}
        {% endif %}

        {% set attributes = attributes|default({})|merge({class: attributes.class|default([])|merge(['content-header__title', 'content-header__title--' ~ lengthClass]) }) %}
        {% set level = 1 %}

        {% include '@LiberoPatterns/heading.html.twig' %}

      {%- endblock -%}

    {%- endwith -%}

    {%- with authors|default({})|merge({html: html}) only -%}
      {%- block authors -%}

        {%- if items|default([])|length -%}

          <ol {{- html.attributes(attributes|default({})) -}}>
            {%- for author in items -%}
              <li>
                {%- with author only -%}
                  {%- block author -%}
                    {%- include '@LiberoPatterns/link.html.twig' -%}
                  {%- endblock author -%}
                {%- endwith -%}
              </li>
            {%- endfor -%}
          </ol>

        {%- endif -%}

      {%- endblock authors -%}
    {%- endwith -%}

    {%- with affiliations|default({})|merge({html: html}) only -%}
      {%- block affiliations -%}

        {%- if items|default([])|length -%}

          <ol {{- html.attributes(attributes|default({})) -}}>
            {%- for affiliation in items -%}
              <li>
                {%- with affiliation only -%}
                  {%- block affiliation -%}
                    {%- include '@LiberoPatterns/link.html.twig' -%}
                  {%- endblock affiliation -%}
                {%- endwith -%}
              </li>
            {%- endfor -%}
          </ol>

        {%- endif -%}

      {%- endblock affiliations -%}
    {%- endwith -%}

    {%- with meta|default({}) only -%}
      {%- block meta -%}

        {%- if items|default([])|length -%}
          {%- include '@LiberoPatterns/content-meta.html.twig' -%}
        {%- endif -%}

      {%- endblock meta -%}
    {%- endwith -%}

  {%- endblock body -%}
</header>
