{%- set attributes = attributes|default({})|merge({class: attributes.class|default([])|merge(['item-tags']) }) -%}

<div {%- include('@LiberoPatterns/attributes.html.twig') -%}>

  {%- block body -%}

    {%- for group in groups -%}

      {%- with group only -%}
        {%- block group -%}

          {%- include('@LiberoPatterns/tag-list.html.twig') -%}

        {%- endblock group -%}
      {%- endwith -%}

    {%- endfor -%}

  {%- endblock body -%}

</div>
