{%- import '@LiberoPatterns/html.html.twig' as html -%}

{%- set attributes = attributes|default({})|merge({class: attributes.class|default([])|merge(['paragraph']) }) -%}

<p {{- html.attributes(attributes) }}>

  {{- html.content(text) -}}

</p>
