{%- from '@LiberoPatterns/attributes.html.twig' import attributes -%}
{%- from '@LiberoPatterns/includes.html.twig' import include -%}

{%- set attributes = attributes|default({})|merge({class: attributes.class|default([])|merge(['paragraph']) }) -%}

<p {{- attributes(attributes) }}>

  {{ include(text) }}

</p>
