{%- from '@LiberoPatterns/attributes.html.twig' import attributes -%}

{%- set attributes = attributes|default({})|merge({class: attributes.class|default([])|merge(['section']) }) -%}

<section {{- attributes(attributes|default({})) }}>

  {%- with heading|default({}) only -%}

    {%- block heading -%}

      {%- if text is defined -%}

        {%- set attributes = attributes|default({})|merge({class: attributes.class|default([])|merge(['section__heading']) }) -%}
        {%- set level = level|default(2) -%}

        {%- include '@LiberoPatterns/heading.html.twig' -%}

      {%- endif -%}

    {%- endblock -%}

  {%- endwith -%}

  {%- with {content: content} only -%}

    {%- block content -%}

      {%- from '@LiberoPatterns/attributes.html.twig' import attributes -%}
      {%- from '@LiberoPatterns/includes.html.twig' import include -%}

      {%- set attributes = attributes|default({})|merge({class: attributes.class|default([])|merge(['section__body']) }) -%}

      <div {{- attributes(attributes|default({})) }}>
        {{- include(content) -}}
      </div>

    {%- endblock -%}

  {%- endwith -%}

</section>
