{%- import '@LiberoPatterns/html.html.twig' as html -%}

{%- set attributes = attributes|default({})|merge({class: attributes.class|default([])|merge(['site-header']) }) -%}

<header {{- html.attributes(attributes) }}>

  {%- with logo|default({})|merge({html: html}) only -%}
    {%- block logo -%}

      {%- set image = image|default({})|merge({src: image.src|default(asset('images/libero-logo.svg', 'libero_patterns')), alt: image.alt|default('Site logo'), class: image.class|default([])|merge(['site-header__image'])}) -%}

      {%- if href is defined -%}
        <a href="{{ href }}">
      {%- endif -%}

      <img {{- html.attributes(image) }}>

      {%- if href is defined -%}
        </a>
      {%- endif -%}

    {%- endblock -%}
  {%- endwith -%}

</header>
