{%- from '@LiberoPatterns/attributes.html.twig' import attributes -%}

{%- set attributes = attributes|default({})|merge({class: attributes.class|default([])|merge(['tag-list']) }) -%}

<div {{- attributes(attributes|default({})) }}>

  {%- with title|default({}) only -%}
    {%- block title -%}

      {% if text is defined %}

        {%- set attributes = attributes|default({})|merge({class: attributes.class|default([])|merge(['tag-list__title']) }) -%}
        {%- include '@LiberoPatterns/heading.html.twig' with {level: level|default(4)} -%}

      {% endif %}

    {%- endblock title -%}
  {%- endwith -%}

  {%- with list only -%}
    {%- block list -%}

      {%- from '@LiberoPatterns/attributes.html.twig' import attributes -%}

      {%- set attributes = attributes|default({})|merge({class: attributes.class|default([])|merge(['tag-list__list']) }) -%}

      {%- if singleLine|default(false) -%}
        {%- set attributes = attributes|merge({class: attributes.class|merge(['tag-list__list--single-line']) }) -%}
      {%- endif -%}

      <ul {{- attributes(attributes|default({})) }}>

        {%- for item in items -%}

          {%- with item only -%}
            {%- block item -%}

              {%- from '@LiberoPatterns/attributes.html.twig' import attributes -%}

              {%- set attributes = attributes|default({})|merge({class: attributes.class|default([])|merge(['tag-list__item']) }) -%}

              <li {{- attributes(attributes|default({})) }}>

                {%- with content only -%}
                  {%- block content -%}

                    {%- if attributes.href is defined -%}
                      {%- set attributes = attributes|default({})|merge({class: attributes.class|default([])|merge(['tag-list__link']) }) -%}
                    {%- endif -%}

                    {%- include '@LiberoPatterns/link.html.twig' -%}

                  {%- endblock content -%}
                {%- endwith -%}

              </li>

            {%- endblock item -%}
          {%- endwith -%}

        {%- endfor -%}

      </ul>

    {%- endblock list -%}
  {%- endwith -%}

</div>
