{%- import '@LiberoPatterns/html.html.twig' as html -%}

{%- set attributes = attributes|default({})|merge({class: attributes.class|default([])|merge(['tag-list']) }) -%}

{%- if compact|default(false) -%}
  {%- set attributes = attributes|merge({class: attributes.class|merge(['tag-list--compact']) }) -%}
{%- endif -%}

<div {{- html.attributes(attributes) }}>

  {%- with title|default({}) only -%}
    {%- block title -%}

      {% if text is defined %}

        {%- set attributes = attributes|default({})|merge({class: attributes.class|default([])|merge(['tag-list__title']) }) -%}
        {%- include '@LiberoPatterns/heading.html.twig' with {level: level|default(4)} -%}

      {% endif %}

    {%- endblock title -%}
  {%- endwith -%}

  {%- with list|merge({html: html}) only -%}
    {%- block list -%}

      {%- set attributes = attributes|default({})|merge({class: attributes.class|default([])|merge(['tag-list__list']) }) -%}

      {%- if singleLine|default(false) -%}
        {%- set attributes = attributes|merge({class: attributes.class|merge(['tag-list__list--single-line']) }) -%}
      {%- endif -%}

      <ul {{- html.attributes(attributes) }}>

        {%- for item in items -%}

          {%- with item|merge({html: html}) only -%}
            {%- block item -%}

              {%- set attributes = attributes|default({})|merge({class: attributes.class|default([])|merge(['tag-list__item']) }) -%}

              <li {{- html.attributes(attributes) }}>

                {%- with content only -%}
                  {%- block content -%}

                    {%- if attributes.href is defined -%}
                      {%- set attributes = attributes|default({})|merge({class: attributes.class|default([])|merge(['tag-list__link']) }) -%}
                    {%- endif -%}

                    {%- include '@LiberoPatterns/link.html.twig' -%}

                  {%- endblock content -%}
                {%- endwith -%}

              </li>

            {%- endblock item -%}
          {%- endwith -%}

        {%- endfor -%}

      </ul>

    {%- endblock list -%}
  {%- endwith -%}

</div>
