sudo: required

language: minimal

services: docker

branches:
    only:
        - master

env: 
    - IMAGE_TAG=$TRAVIS_COMMIT 

install:
    - docker-compose -f docker-compose.yaml build

before_script:
    - docker-compose -f docker-compose.yaml up -d web

script:
    - nc -z localhost 8080
    - docker-compose -f docker-compose.yaml run ci vendor/bin/phpunit
    - docker-compose -f docker-compose.yaml run ci vendor/bin/phpcs

after_script:
    - docker-compose -f docker-compose.yaml down
    - .docker/push-image.sh
