version: '3.4'

services:
    api:
        image: liberoadmin/dummy-api:5cbf7f0741e50c6bcffa3791462701eff56b5b42
        volumes:
            - ./.docker/api/content_api.yaml:/app/config/packages/content_api.yaml
            - ./.docker/api/data:/app/data/
            - public-api:/app/public/
    app:
        build:
            context: .
            target: prod
        environment:
            API_URI: http://web:8080
            APP_SECRET:
            DEFAULT_LOCALE: ${DEFAULT_LOCALE:-en}
            INFO_BAR: libero.page.info_bar.demo
        image: libero/browser:${IMAGE_TAG:-master}
        volumes:
            - public-app:/app/public/
        depends_on:
            - api
    web:
        image: nginx:1.15.5-alpine
        volumes:
            - ./.docker/nginx/:/etc/nginx/conf.d/
            - public-api:/app/api/public/
            - public-app:/app/browser/public/
        ports:
            - 8080:80
        depends_on:
            - api
            - app

volumes:
    public-api:
    public-app:
