<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/7.4/phpunit.xsd" colors="true"
    bootstrap="vendor/autoload.php">

    <php>
        <env name="APP_ENV" value="test"/>
        <env name="APP_SECRET" value="foobarbazqux"/>
        <env name="KERNEL_CLASS" value="Libero\Browser\Kernel"/>
        <env name="SHELL_VERBOSITY" value="-1"/>
    </php>

    <testsuites>
        <testsuite name="Browser">
            <directory suffix=".php">tests</directory>
        </testsuite>
        <testsuite name="ContentPageBundle">
            <directory suffix=".php">vendor-extra/ContentPageBundle/tests</directory>
        </testsuite>
        <testsuite name="JatsContentBundle">
            <directory suffix=".php">vendor-extra/JatsContentBundle/tests</directory>
        </testsuite>
        <testsuite name="LiberoContentBundle">
            <directory suffix=".php">vendor-extra/LiberoContentBundle/tests</directory>
        </testsuite>
        <testsuite name="ViewsBundle">
            <directory suffix=".php">vendor-extra/ViewsBundle/tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>src</directory>
            <directory>vendor-extra/ContentPageBundle/src</directory>
            <directory>vendor-extra/JatsContentBundle/src</directory>
            <directory>vendor-extra/LiberoContentBundle/src</directory>
            <directory>vendor-extra/ViewsBundle/src</directory>
        </whitelist>
    </filter>

</phpunit>
