parameters:
    locale: 'en'

services:
    _defaults:
        autowire: true
        autoconfigure: true
        public: false

    Libero\Browser\:
        resource: '../src/*'
        exclude: '../src/{Kernel.php}'
