<!doctype html>

<html lang="{{ lang }}" dir="{{ dir }}">

<head>

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">

    <meta name="format-detection" content="telephone=no">

    <link href="{{ asset('bundles/liberopatterns/css/all.css') }}" rel="stylesheet">

</head>

<body>

{% block content -%}

    {%- include '@LiberoPatterns/text.html.twig' with {nodes: main} -%}

{%- endblock %}

</body>

</html>
